[INFO] Scanning for projects...
[INFO] 
[INFO] ----------------------< com.example:leaflet-geo >-----------------------
[INFO] Building leaflet-geo 0.0.1-SNAPSHOT
[INFO]   from pom.xml
[INFO] --------------------------------[ jar ]---------------------------------
[INFO] 
[INFO] --- exec:3.6.3:java (default-cli) @ leaflet-geo ---
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-exec/1.6.0/commons-exec-1.6.0.pom
Progress (1): 755 B
Progress (1): 1.7 kB
Progress (1): 3.4 kB
Progress (1): 5.6 kB
Progress (1): 7.8 kB
Progress (1): 11 kB 
                   
Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-exec/1.6.0/commons-exec-1.6.0.pom (11 kB at 5.2 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-parent/93/commons-parent-93.pom
Progress (1): 699 B
Progress (1): 1.6 kB
Progress (1): 2.9 kB
Progress (1): 4.3 kB
Progress (1): 5.4 kB
Progress (1): 7.7 kB
Progress (1): 10 kB 
Progress (1): 11 kB
Progress (1): 14 kB
Progress (1): 16 kB
Progress (1): 17 kB
Progress (1): 20 kB
Progress (1): 22 kB
Progress (1): 24 kB
Progress (1): 27 kB
Progress (1): 30 kB
Progress (1): 32 kB
Progress (1): 37 kB
Progress (1): 41 kB
Progress (1): 43 kB
Progress (1): 46 kB
Progress (1): 49 kB
Progress (1): 50 kB
Progress (1): 53 kB
Progress (1): 56 kB
Progress (1): 58 kB
Progress (1): 60 kB
Progress (1): 63 kB
Progress (1): 65 kB
Progress (1): 70 kB
Progress (1): 72 kB
Progress (1): 73 kB
Progress (1): 76 kB
Progress (1): 79 kB
                   
Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-parent/93/commons-parent-93.pom (79 kB at 279 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/junit/junit-bom/5.14.1/junit-bom-5.14.1.pom
Progress (1): 908 B
Progress (1): 2.3 kB
Progress (1): 5.7 kB
                    
Downloaded from central: https://repo.maven.apache.org/maven2/org/junit/junit-bom/5.14.1/junit-bom-5.14.1.pom (5.7 kB at 11 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm/9.9.1/asm-9.9.1.pom
Progress (1): 1.3 kB
Progress (1): 2.4 kB
                    
Downloaded from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm/9.9.1/asm-9.9.1.pom (2.4 kB at 5.5 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm-commons/9.9.1/asm-commons-9.9.1.pom
Progress (1): 1.1 kB
Progress (1): 2.8 kB
                    
Downloaded from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm-commons/9.9.1/asm-commons-9.9.1.pom (2.8 kB at 14 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm-tree/9.9.1/asm-tree-9.9.1.pom
Progress (1): 1.1 kB
Progress (1): 2.6 kB
                    
Downloaded from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm-tree/9.9.1/asm-tree-9.9.1.pom (2.6 kB at 13 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-exec/1.6.0/commons-exec-1.6.0.jar
Progress (1): 0.9/69 kB
Progress (1): 2.3/69 kB
Progress (1): 3.6/69 kB
Progress (1): 5.0/69 kB
Progress (1): 6.4/69 kB
Progress (1): 7.7/69 kB
Progress (1): 9.1/69 kB
Progress (1): 10/69 kB 
Progress (1): 12/69 kB
Progress (1): 13/69 kB
Progress (1): 15/69 kB
Progress (1): 16/69 kB
Progress (1): 17/69 kB
Progress (1): 19/69 kB
Progress (1): 20/69 kB
Progress (1): 21/69 kB
Progress (1): 26/69 kB
Progress (1): 30/69 kB
Progress (1): 34/69 kB
Progress (1): 38/69 kB
Progress (1): 43/69 kB
Progress (1): 47/69 kB
Progress (1): 51/69 kB
Progress (1): 55/69 kB
Progress (1): 59/69 kB
Progress (1): 64/69 kB
Progress (1): 68/69 kB
Progress (1): 69 kB   
                   
Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-exec/1.6.0/commons-exec-1.6.0.jar (69 kB at 271 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm/9.9.1/asm-9.9.1.jar
Downloading from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm-tree/9.9.1/asm-tree-9.9.1.jar
Downloading from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm-commons/9.9.1/asm-commons-9.9.1.jar
Progress (1): 3.8/126 kB
Progress (1): 8.0/126 kB
Progress (1): 12/126 kB 
Progress (1): 16/126 kB
Progress (1): 21/126 kB
Progress (1): 25/126 kB
Progress (1): 29/126 kB
Progress (1): 33/126 kB
Progress (1): 37/126 kB
Progress (1): 41/126 kB
Progress (1): 46/126 kB
Progress (1): 50/126 kB
Progress (1): 54/126 kB
Progress (1): 58/126 kB
Progress (1): 63/126 kB
Progress (1): 67/126 kB
Progress (1): 71/126 kB
Progress (1): 75/126 kB
Progress (1): 79/126 kB
Progress (1): 84/126 kB
Progress (1): 88/126 kB
Progress (1): 92/126 kB
Progress (1): 96/126 kB
Progress (1): 101/126 kB
Progress (1): 105/126 kB
Progress (1): 109/126 kB
Progress (1): 113/126 kB
Progress (1): 117/126 kB
Progress (1): 126 kB    
                    
Downloaded from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm/9.9.1/asm-9.9.1.jar (126 kB at 524 kB/s)
Progress (1): 0.9/75 kB
Progress (1): 2.3/75 kB
Progress (1): 3.6/75 kB
Progress (1): 5.0/75 kB
Progress (1): 6.4/75 kB
Progress (1): 7.7/75 kB
Progress (1): 9.1/75 kB
Progress (1): 10/75 kB 
Progress (1): 12/75 kB
Progress (1): 13/75 kB
Progress (1): 15/75 kB
Progress (1): 16/75 kB
Progress (1): 17/75 kB
Progress (1): 19/75 kB
Progress (1): 20/75 kB
Progress (1): 21/75 kB
Progress (1): 23/75 kB
Progress (1): 24/75 kB
Progress (1): 26/75 kB
Progress (1): 27/75 kB
Progress (1): 28/75 kB
Progress (1): 30/75 kB
Progress (1): 31/75 kB
Progress (1): 32/75 kB
Progress (1): 34/75 kB
Progress (1): 35/75 kB
Progress (1): 36/75 kB
Progress (1): 38/75 kB
Progress (1): 39/75 kB
Progress (1): 41/75 kB
Progress (1): 42/75 kB
Progress (1): 43/75 kB
Progress (1): 45/75 kB
Progress (1): 46/75 kB
Progress (1): 47/75 kB
Progress (1): 49/75 kB
Progress (1): 50/75 kB
Progress (1): 52/75 kB
Progress (1): 53/75 kB
Progress (1): 54/75 kB
Progress (1): 56/75 kB
Progress (1): 60/75 kB
Progress (1): 64/75 kB
Progress (1): 68/75 kB
Progress (1): 73/75 kB
Progress (1): 75 kB   
                   
Downloaded from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm-commons/9.9.1/asm-commons-9.9.1.jar (75 kB at 128 kB/s)
Progress (1): 0.9/52 kB
Progress (1): 2.3/52 kB
Progress (1): 3.6/52 kB
Progress (1): 5.0/52 kB
Progress (1): 6.4/52 kB
Progress (1): 7.7/52 kB
Progress (1): 9.1/52 kB
Progress (1): 10/52 kB 
Progress (1): 12/52 kB
Progress (1): 13/52 kB
Progress (1): 15/52 kB
Progress (1): 16/52 kB
Progress (1): 17/52 kB
Progress (1): 19/52 kB
Progress (1): 20/52 kB
Progress (1): 21/52 kB
Progress (1): 23/52 kB
Progress (1): 24/52 kB
Progress (1): 26/52 kB
Progress (1): 27/52 kB
Progress (1): 28/52 kB
Progress (1): 30/52 kB
Progress (1): 31/52 kB
Progress (1): 32/52 kB
Progress (1): 34/52 kB
Progress (1): 35/52 kB
Progress (1): 36/52 kB
Progress (1): 38/52 kB
Progress (1): 39/52 kB
Progress (1): 41/52 kB
Progress (1): 42/52 kB
Progress (1): 43/52 kB
Progress (1): 45/52 kB
Progress (1): 46/52 kB
Progress (1): 47/52 kB
Progress (1): 49/52 kB
Progress (1): 50/52 kB
Progress (1): 52/52 kB
Progress (1): 52 kB   
                   
Downloaded from central: https://repo.maven.apache.org/maven2/org/ow2/asm/asm-tree/9.9.1/asm-tree-9.9.1.jar (52 kB at 4.9 kB/s)
-- ================================================================
-- PBJT REALISASI SEEDER (2021-2025)
-- Generated from SIMATDA on: Tue Jan 20 18:08:29 WIB 2026
-- ================================================================

-- Loaded 100 assessments with tax_object_id

-- Clear existing realisasi data
TRUNCATE TABLE pbjt_realisasi CASCADE;

-- Insert realisasi data
-- ?? Skipped: tax_object_id=3 (not found in assessments) - RUMAH MAKAN BROMO
-- ?? Skipped: tax_object_id=3 (not found in assessments) - RUMAH MAKAN BROMO
-- ?? Skipped: tax_object_id=3 (not found in assessments) - RUMAH MAKAN BROMO
-- ?? Skipped: tax_object_id=5 (not found in assessments) - TULUS TELUYAM
-- ?? Skipped: tax_object_id=6 (not found in assessments) - CV. ARRACHMAN
INSERT INTO pbjt_realisasi (assessment_id, tax_object_id, nop, business_name, tahun, realisasi_amount, jumlah_transaksi) VALUES (81, '4', '02.00003.10.005', 'CV. LYA CATERING', 2021, 2487100.00, 4);
INSERT INTO pbjt_realisasi (assessment_id, tax_object_id, nop, business_name, tahun, realisasi_amount, jumlah_transaksi) VALUES (81, '4', '02.00003.10.005', 'CV. LYA CATERING', 2022, 13590600.00, 36);
INSERT INTO pbjt_realisasi (assessment_id, tax_object_id, nop, business_name, tahun, realisasi_amount, jumlah_transaksi) VALUES (81, '4', '02.00003.10.005', 'CV. LYA CATERING', 2023, 27854150.00, 30);

-- ================================================================
-- SUMMARY
-- ================================================================
-- Total records from SIMATDA: 3389
-- Matched with assessments: 380
-- Skipped (no assessment): 3009
-- ================================================================

-- ================================================================
-- QUERY TO VERIFY REALISASI DATA
-- ================================================================
/*
SELECT 
    tahun,
    COUNT(*) as jumlah_objek,
    SUM(realisasi_amount) as total_realisasi,
    SUM(jumlah_transaksi) as total_transaksi,
    AVG(realisasi_amount) as avg_realisasi
FROM pbjt_realisasi
GROUP BY tahun
ORDER BY tahun;
*/

/*
-- View realisasi per assessment
SELECT 
    a.business_id,
    a.business_name,
    r.tahun,
    r.realisasi_amount,
    r.jumlah_transaksi
FROM pbjt_assessments a
JOIN pbjt_realisasi r ON a.id = r.assessment_id
WHERE a.business_id = 'SIM-0001'
ORDER BY r.tahun;
*/
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  19.111 s
[INFO] Finished at: 2026-01-20T18:08:31+07:00
[INFO] ------------------------------------------------------------------------
